/* Header */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    background-color: transparent;
}
.header li{
    list-style: none;
    padding: 14px 16px;
    float: left;
    font-family: Mulish;
}

.header-center li:hover{
    background-color: transparent;
    color: #ec3445;
}

.header-logo {
    float: left;
    padding-left: 50px;
    padding-right: 100px;

}

.header-center{
    float: left;
}

.header-right{
    float: right;
    color: #ec3445;
    
}
.header-right ul{
    padding-right: 50px;
}
.header-right li{
    padding: 14px 16px;
}
.header-right span {
    background-color:#ec3445;
    padding: 15px 40px;
    color: white;
}


/* top-wrapper */
.logo {
    width: 124px;
    position: relative;
    height: 80px;
    
    
}
.top-wrapper{
    background-image: url("background.jpeg");
    padding: 180px 0 100px 0;
    background-size: cover;
}
.top-wrapper h1{
    font-family: Mulish;
    font-size: 45px;
    color: white;
    text-align: center;
}

.top-wrapper p{
    font-family: Mulish;
    font-size: 16px;
    color: white;
    text-align: center;
}


.button {
    background-color: #ddd;
    border: none;
    font-size: 17px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    margin: 0;
    position: absolute;
    top: 80%;
    left: 580px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #ec3445;
}

/* Message */
input{
    width: 400px;
    border: 1px solid #dee7ec;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
  }
  textarea{
    width: 400px;
    border: 1px solid #dee7ec;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
  }

.contact-submit{
    background-color: #dee7ec;
    color: #889eab;
  }

/* Footer */
footer {
    background-color:white;
    color:black;
    height: 100px;
    padding: 40px;
    margin-top: auto;
    font-family: "Mulish";
}

.footer-list {
    float: right;
}

.footer-list li {
    padding-bottom: 20px;
    font-size: 17px;
    list-style: none;
    
}

.footer-list img {
    width: 30px;
}

.footer-logo {
    float: left;
    font-size: 32px;
}

.footer-list li:hover{
    background-color: transparent;
    color:#ec3445;
}
